<header id="main-header">
	<div class="content-inner">
		<div class="wrapper">
			<h1>
				My name is <span><a href="/">Jamie Gillar</a>.</span>
			</h1>
			<p>I am a website developer.</p>
		</div>
		<nav id="main-navigation">
			<ul>
				<li><a href="/#about" class="really-fancy-link">About</a></li>
				<li><a href="/#skills" class="really-fancy-link">Skills</a></li>
				<li><a href="/#projects" class="really-fancy-link">Projects</a></li>
				<li><a href="#contact" class="really-fancy-link">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>
