html {
  color: #201a23;
  font-size: 62.5%;
}
body {
  background: #3c225f;
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5rem;
  line-height: 1.6;
}
*::selection {
  background-color: #9e4770;
  color: #ffffff;
}
h1,
h2,
h3 {
  font-family: "Amaranth", sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  margin-top: 0px;
}
h1 {
  color: #f4faff;
  font-size: 2.5em;
  line-height: 1.125;
}
h2 {
  color: #3c225f;
  font-size: 1.5em;
  line-height: 1.25;
}
h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.05em;
  font-weight: bold;
  line-height: 1.35;
}
a {
  color: #9e4770;
  text-decoration: none;
}
a:hover {
  color: #17e1e3;
}
p {
  margin-top: 0px;
  margin-bottom: 1em;
}
ul {
  margin: 0 0 1em 1.5em;
  padding: 0px;
}
li {
  margin-bottom: 0.05em;
}

.wrapper {
  margin: 0px auto;
}
.main-section {
  background: #eef0f2;
  padding: 2em 2em;
}
.content-inner {
  margin: 0px auto;
  max-width: 1200px;
  width: 100%;
}

/* Header section */
/*slide in animation for header text*/
@keyframes slideDown {
  0% {
    transform: translate(0, -0.5em);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/*background animation for header*/
@-webkit-keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*animation for my name turning blue*/
@keyframes lightUp {
  0% {
    color: #f4faff;
  }
  100% {
    color: #2ce3e5;
  }
}
#main-header {
  background: radial-gradient(
      farthest-side at bottom left,
      #dc4c6a55,
      transparent
    ),
    radial-gradient(farthest-corner at top right, #321c4e55, transparent);
  background-size: 400% 400%;
  box-sizing: border-box;
  color: #f4faff;
  height: 100vh;
  padding: 2em 2em 1em 2em;
  text-align: center;
  -webkit-animation: gradientBackground 15s ease infinite;
  -moz-animation: gradientBackground 15s ease infinite;
  animation: gradientBackground 15s ease infinite;
}
header h1,
header p {
  animation: slideDown 1s;
}
#main-header *::selection {
  background: #f4faff;
  color: #201a23;
}
#main-header .wrapper {
  justify-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}
#main-header .content-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#main-header p {
  margin-bottom: 2em;
}
#main-navigation {
  align-self: stretch;
}
#main-navigation ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#main-navigation li {
  flex: 1;
  margin: 0;
  padding: 0;
}
#main-navigation a {
  box-sizing: border-box;
  color: #f4faff;
  display: inline-block;
  padding: 0.25em 0.5em;
  position: relative;
  text-align: center;
  transition: color 0.3s;
  z-index: 1;
}
#main-navigation a:hover {
  color: #3c225f;
}
#main-navigation a::before {
  content: " ";
  background: #f4faff;
  border-radius: 1em;
  height: 0px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  width: 0px;
  z-index: -1;
}
#main-navigation a:hover::before {
  height: 100%;
  width: 100%;
  opacity: 1;
}
#main-header span {
  color: #f4faff;
  animation: lightUp 0.75s 1.25s;
  animation-fill-mode: forwards;
}
/* end Header */

/* About section */
#about {
  background: #dad2d8;
}
/* end about section */

/* Skill section */
#skills ul {
  background: #ffffff;
  border-radius: 1em;
  box-shadow: 5px 5px #dad2d877;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  list-style-type: none;
  margin: 0px;
  padding: 0.5em;
}
.skills-section:first-child {
  margin-right: 2em;
}
#skills li {
  padding: 0.5em;
}
#skills-container {
  display: flex;
}
#skills-container section {
  flex: 1;
}

#contact {
  background: #201a23;
  color: #f4faff;
}

#contact h2 {
  color: #f4faff;
}

/* Media queries */
@media all and (max-width: 768px) {
  body {
    font-size: 2.125rem;
  }
  #main-header span {
    display: block;
  }
  #skills-container section:first-child {
    margin-right: 0;
    margin-bottom: 1em;
  }
  #skills-container {
    display: block;
  }
}
@media all and (max-width: 480px) {
  body {
    font-size: 2rem;
  }
  #skills ul {
    display: block;
  }
}
/* end media queries */
